/* all */

body{
    width: 100%;
    background: rgb(206, 206, 206);
}

.contain-all{
    background: white;
    width: 95%;
    border-radius: 5px;
}

.form-container{
    margin: auto;



}

.title{
    text-align: center;

    padding: 20px 0;
}
.title-section{
    color: white;
    border-radius: 5px;
   background: rgb(45, 45, 194);
}

.sub-title{
    text-align: center;
}

.input-form-field{
margin: 5px;
}



