/* all */

body{
    width: 100%;
    background: green;
}

.contain-all{
    background: white;
}

.form-container{
    margin: auto;
    border: solid 2px black;


}

#title{

}

#sub-title{

}

.input-form-field{
margin: 5px;
}



