
body{
    /* width: 100%; */
    background: rgb(206, 206, 206);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contain-all{
    background: white;
    margin: auto;
    width: 95%;
    border-radius: 5px;
}

.form-container{
    margin: auto;
    width: 75%;
    background: rgba(211, 211, 211, 0.377);
    border-radius: 5px;
    padding: 10px;

}

.form-control{
    border-radius: 3px;
    border: none;
    width: 100%;
    line-height: 2em;
}

.button-bar{
    width: 100%;
}
.bottomButton{
    font-size: 1.4em;
    width: 49%;
}

.title{
    text-align: center;
    padding: 20px 0;
}
.title-section{
    color: white;
    border-radius: 5px;
   background: navy;
}

.sub-title{
    text-align: center;
}

.input-form-field{
margin: 5px;
}

footer{
    text-align: center;
}

.footer-content{
    text-align: center;
    padding: 7px;
    border-top: solid 1px rgb(108, 109, 109);
}


@media only screen and (max-width: 700px)  {
    .container-all{
        max-width: 100%;
        margin: auto;
    }
}